{% load static %}
<!DOCTYPE HTML>
<html>
  <head>
    <!-- Design by PatrickWalters.Design -->
    <title>{% block title %}ditto{% endblock %}</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="{% static 'style.css' %}" />
    <link href="https://fonts.googleapis.com/css?family=Baloo|Open+Sans:300" rel="stylesheet">

    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'site.webmanifest' %}">
    <link rel="mask-icon" href="{% static 'safari-pinned-tab.svg' %}" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
  </head>
	<body class="{% block body_class %}error-page{% endblock %}">
      <header>
        <a href="/" class="logo">ditto</a>
        <a href="/"><img src="{% static 'ditto-mark.svg' %}" class="mark" /></a>
      </header>
		<div class="content-area">
          <section class="message-area">
            <h1>{% block message %}{% endblock %}</h1>
          </section>
          <section class="main-action">{% block main_action %}{% endblock %}</section>
		</div>
		<footer>
          <a href="https://github.com/kimpeek">&copy; KimPeek
            <span><script>document.write(new Date().getFullYear())</script></span>
          </a>
          <a href="https://github.com/kimpeek/ditto">Source</a>
		</footer>
	</body>
</html>