{% load static %}
<!DOCTYPE HTML>
<html>
	<head>
		<title>{% block title %}ditto{% endblock %}</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="{% static 'style.css' %}" />
		<link href="https://fonts.googleapis.com/css?family=Baloo|Open+Sans:300" rel="stylesheet">
	</head>
	<body class="{% block body_class %}error-page{% endblock %}">
		<header>
			<a href="/" class="logo">ditto</a>
			<a href="/"><img src="{% static 'ditto-mark.svg' %}" class="mark" /></a>
{#			<a href="/"><img src="{% static 'images/ditto-mark.svg' %}" class="mark" /></a>#}
		</header>
		<div class="content-area">
			<section class="message-area">
				  <h1>{% block message %}{% endblock %}</h1>
			</section>
			<section class="main-action">{% block main_action %}{% endblock %}</section>
		</div>
		<footer>
			<a href="https://github.com/kimpeek">&copy; Copyright
              <span><script>document.write(new Date().getFullYear())</script></span>
              KimPeek
            </a>
            <a href="https://github.com/kimpeek/ditto">Source</a>
		</footer>
	</body>
</html>